:root {
    --primary-color: #B4C6C1;
    --secondary-color: #F9F5F0;
    --tertiary-color: #AB875F;
    --quarternary-color: #422918;
    --font-set: 'Oleo Script', cursive;
    --second-font-set: 'Fira Sans', sans-serif;
    --third-font-set: 'Actor', sans-serif;
}

body {
    font-family: var(--third-font-set);
    margin: 0;
    background-color: var(--secondary-color);
}

html{
    scroll-behavior: smooth;
}

/*Styling af tekster*/
h1{
    font-size: 42px;
    font-family: var(--font-set);
    color: var(--quarternary-color);
    text-align: center;
}

h2{
    font-size: 35px;
    font-family: var(--font-set);
    color: var(--quarternary-color);
    text-align: center; 
    margin: 10px;  
    margin-top: 40px;
}

h3{
    font-family: var(--second-font-set);
    font-size: 25px;
    text-align: center;
    color: var(--quarternary-color);
    padding: 5px 20px;
}

p{
    font-size: 20px;
    font-family: var(--third-font-set);
    color: var(--quarternary-color);
    text-align: center;
    padding: 5px 20px;
    margin: 0;     
}

/*Styling af navigationsbar*/
.navigation {
    background-color: var(--primary-color);
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.logo {
    width: 130px;
    display: block;
    padding: 0px 8px;
}
  
.nav-ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 0;
    display: none;
    flex-direction: column;
    width: 100%;
}
  
.nav-ul a {
    text-decoration: none;
    color: var(--quarternary-color);
    font-family: var(--font-set);
    padding: 8px 12px;
    text-align: center;
    font-size: 22px;
    display: block;
    text-align: center;
}
  
.nav-ul a.active {
    text-decoration-line: underline;
}
  
/*Her er stylingen der laver hamburger menuen.*/
.hamburger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: var(--quarternary-color);
    font-size: 34px;
    display: block;
    padding: 0px 15px;
}
  
.hamburger:focus {
    outline: none;
}
  
.nav-ul.show {
    display: flex;
}
  
.show {
    display: block;
}

/*Styling af scroll-knap*/
.btn-scroll{
    background-color: var(--primary-color);
    color: var(--quarternary-color);
    padding: 5px 10px;
    font-size: 22px;
    border-radius: 100%;
    margin: 10px;
    position: sticky;
    top: 70%;
    margin-left: 85%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.418);
}

/*Styling af footer*/
footer{
    background-color: var(--primary-color);
    padding: 20px;
    margin-top: 70px;
}

.footerlogo{
    width: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footerbeans{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer h3{
    font-family: var(--font-set);
    text-align: center;
    font-size: 24px;
    color: var(--quarternary-color);
}

footer p{
    text-align: center;
    font-size: 20px;
    color: var(--quarternary-color);
}

footer a{
    display: block;
    text-align: center;
    color: var(--quarternary-color);
    font-size: 20px;
}

footer section{
    margin-top: 30px;
}

footer i{
    font-size: 24px;
    padding: 4px 10px;
}

/*Styling af menu siden*/
.coffeemenu div img{
    width: 60%;
    display: block;
    margin: 0px auto;
}

.coffeemenu p{
    padding: 0px 30px;
}

/*Styling af kontakt og info siden*/
.kontaktform{
    width: 100%; 
    height: 1100px;
    border: 0;
    margin-top: 30px;
}

.kontaktp{
    margin-bottom: 20px;
    margin-top: 10px;
}

.kontaktlink{
    color: var(--quarternary-color);
}

.kontaktlinksingle{
    color: var(--quarternary-color);
    display: block;
    text-align: center;
    font-size: 20px;
}

.openinggrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 10px;
}

.maps{
    width: 90%;
    height: 300px;
    display: block;
    margin: 5px auto;
    border: 0;
}

.kontaktvogn{
    width: 150px;
    display: block;
    margin: 0px auto;
}

/*Styling af arrangement siden*/

.arrangementbillede{ 
    width: 100%;
    margin-top: 20px;

}

.pakke1 {
    background-color: var(--primary-color);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.pakke2 {
    background-color: var(--primary-color);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.pakkeh3 {
    padding: 0px 20px;
    margin: 10px;
}

.prispakke {
    font-size: 30px; 
    margin: 25px;
    padding: 25px;
}

.pakkeloesningbilleder {
    width: 100%;
}

.arrangementform{
    width: 100%; 
    height: 1500px;
    border: 0;
    margin-top: 30px;

}
.arrangementkalender {
    width: 80%;
    height: 300px;
    border: 0;
    margin: 0 auto;
    margin-top: 30px;
    display: block
}

@media screen and (min-width: 340px) {
/*Styling af kontakt og info siden*/
    .kontaktform{
        height: 1000px;
    }
    .arrangementform {
        height: 1400px;
    }
}

@media screen and (min-width: 420px) {
    /*Styling af scroll-knap*/
    .btn-scroll{
        margin-left: 90%;
    }

    /*Styling af kontakt og info siden*/
    .kontaktform{
        height: 960px;
    }
}

@media screen and (min-width: 600px) {
    /*Styling af menu side*/
    .coffeemenu{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0px 30px;
    }

    .coffeemenu div img{
        width: 75%;
    }

    /*Styling af kontakt og info siden*/
    .openinggrid{
        padding: 0px 22%;
    }

    /*Styling af arrangement siden*/
    .pakke1 {
        width: 70%;
    }
    
    .pakke2 {
        width: 70%;
    }

    .arrangementform {
        height: 1350px;
    }
  

}

@media screen and (min-width: 750px) {
    /*Styling af tekster*/
    h1{
        font-size: 70px;
    }
    
    h2{
        font-size: 50px;   
    }
    
    p{
        font-size: 22px;
        padding: 5px 50px;  
    }

    /*Styling af hamburgermenu og navbar*/
    .hamburger {
      display: none;
    }
  
    .nav-ul {
      display: block;
      flex-direction: unset;
      margin: 0;
      width: auto;
    }

    .nav-ul a {
        padding: 6px;
    }
    
    .nav-ul li {
      display: inline-block;
    }

    /*Styling af footer*/
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .footerlogo{
        grid-column-start: 1;
        grid-column-end: span 4;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .footerkontakt{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .footertider{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .footerfind{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .footersome{
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .footerbeans{
        grid-column-start: 1;
        grid-column-end: span 4;
        grid-row-start: 3;
        grid-row-end: 3;
        margin-top: -40px;
    }

    footer section{
        margin-top: 0px;
    }

    footer h3{
        margin-top: 0px;
    }

    /*Styling af scroll-knap*/
    .btn-scroll{
        margin-left: 94%;
    }

    /*Styling af kontakt og info siden*/
    .kontaktform{
        height: 920px;
    }

    .kontaktlinksingle{
        font-size: 22px;
    }    

    .infosection{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0px 10px;
    }

    .kontaktgrid{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .mapsgrid{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .openinggrid{
        padding: 0;
        margin-bottom: 40px;
    }

    .openinggrid p{
        padding: 0;
    }
    
    /*Styling af arrangement siden*/
    .arrangementbillede {
        margin: 0 auto;
        display: block;
        width: 60%;
    }
    
    .pakkegrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
    }   

    .arrangementform{
        height: 1300px;
    }

    .arrangementkalender {
        width: 60%;
        height: 400px;
    }
}

@media screen and (min-width: 800px) {
    /*Styling af logo og navbar*/
    .logo {
      width: 140px;
    }

    .nav-ul a {
        padding: 8px 10px;
    }

    /*Styling af menu side*/
    .coffeemenu{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 900px) {
    /*Styling af logo og navbar*/
    .logo {
      width: 170px;
      padding-left: 15px;
    }

    .nav-ul a {
        font-size: 24px;
    }

    .nav-ul{
        padding-right: 18px;
    }

    /*Styling af kontakt og info siden*/
    .openinggrid{
        padding: 0px 60px;
    }
}
  
@media screen and (min-width: 1000px) {
    /*Styling af navbar*/
    .nav-ul a {
        padding: 8px 14px;
    }

    /*Styling af menu side*/
    .coffeemenu{
        padding: 0px 90px;
    }

    /*Styling af kontakt og info siden*/
    .openinggrid{
        padding: 0px 15%;
    }

    .infosection{
        padding: 0px 60px;
    }

    /*Styling af arrangement siden*/
    .pakkegrid {
       padding: 0px 50px; 
    }   
    .arrangementkalender {
        width: 50%;
    }
}
  

@media screen and (min-width: 1200px) {
    /*Styling af arrangement siden*/
    .arrangementbillede {
        width: 40%;
    }
    
    .pakkegrid {
        padding: 0px 100px; 
     } 
}


@media screen and (min-width: 1350px) {
    /*Styling af menu side*/
    .coffeemenu{
        padding: 0px 150px;
    }

    /*Styling af arrangement siden*/
    .pakkegrid {
        padding: 0px 200px; 
    } 
    .arrangementkalender {
        width: 40%;
   
    }
}